@charset "utf-8";

/* 기본적으로 모든 내용의 마진과 패딩을 0으로 초기화 시켜놓고 시작하는 게 좋다. */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "맑은 고딕", "돋움";
}

#header {
    background: rgb(52, 100, 149);
}

#header h3 {
    color: white;
    display: inline-block;
    font-size: 1.8em;
    padding: 20px 10px;
}

#header ul {
    float: right;
    display: inline-block;
    padding: 20px 10px;
}

#header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

#header ul li a {
    text-decoration: none;
    color: white;
    padding-top: 15px;
}

.kind {
    list-style-image: url(../images/star-icon.png);
    list-style-position: inside;
    font-weight: bold;
    font-size: 1.2em;
}

#contents {
    border: 3px solid black;
    line-height: 1.3em;
    font-size: 0.9em;
}

#contents dl {
    padding: 10px;
}

#contents dl dt {
    font-weight: bold;
    color: rgb(105, 32, 127);
}

#contents dl dd {
    padding-left: 35px;
    padding-bottom: 5px;
    font-weight: 550;
}

.common {
    margin: 10px 10px;
    padding: 10px;
}

.section1 {
    border: 1px solid #aaa;
    border-radius: 10px;
}

.section2 {
    border: 1px solid rgb(191, 189, 253);
    border-radius: 20px;
}

.section3 {
    border: 1px solid rgb(157, 189, 140);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.last_section {
    margin: 10px 5px;
    padding: 10px;
    list-style-position: inside;
}
#footer {
    background: #000;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}