@charset "UTF-8";

/* body : body에 오는 전체 내용을 일괄 설정 */
body {
    text-align: center;
}

/* #id이름 : id가 붙은 태그를 지칭하는 방법 */
#title {
    font-size: 28px;
    color: rgb(0, 0, 255);
}

/* class : class가 붙은 태그는 타입이 달라도 다 똑같이 적용 */
/* .class이름 : class가 붙은 태그를 지칭하는 방법 */
.over1 {
    font-family: "바탕체", "돋움", "굴림";
    font-size: 12pt;
    text-align: left;
    line-height: 1.5; /* 행간 */
    letter-spacing: 0.5px; /* 자간 */
}

h1 {
    /* 기준이 되는 글꼴(부모 문서의 글자M 혹은 16pt의 글자M)의 3배 크기로 확장. */
    font-size: 3em;
}

p {
    font-size: 1em;
}

/* rem : 문서의 root(body 혹은 head). 최상위 요소의 글자 크기 기준 */
/* em : 부모 문서의 글자 크기 기준. 미지정시 16pt */