@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "맑은 고딕", "돋움";
    font-size: 14px;
}

.container {
    width: 967px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

header {
    height: 280px;
    position: relative; /* 자손태그 위치의 기준이 되는 부모태그 */
    background-image: url(../../images/bg.png);
    background-repeat: no-repeat;
}

header h1 {
    position: absolute;
    top: 80px;
    right: 20px;
    color: rgb(255, 255, 180);
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #000;
}

header h2 {
    position: absolute;
    top: 140px;
    right: 20px;
    color: yellow;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
}

.navi {
    background-color: rgb(39, 23, 23);
    width: 967px;
    height: 60px;
}

.navi ul {
    list-style-type: none;
    padding: 10px;
    line-height: 40px;
}

.navi ul li {
    display: inline-block;
    margin: 0px 20px 0px 40px;
}

.navi a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

.navi a:hover {
    color: yellow;
    text-shadow: 1px 1px 1px #999;
}

#content {
    float: left;
    width: 73%;
    padding: 10px;
}

#content .title {
    margin: 10px 0;
}

#content p {
    margin-bottom: 5px;
}

#banner {
    margin: 10px;
}

.sidebar {
    float: right;
    width: 22%;
    background-color: rgb(228, 252, 223);
    padding: 20px 10px 10px 10px;
}

.sidebar p {
    margin-bottom: 10px;
}

.sidebar img {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}