@charsets "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "맑은 고딕", "돋움";
    margin: 0 auto;
}

header {
    width: 85%;
    height: 50px;
    background-color: rgb(52, 100, 149);
    border: 3px solid rgb(52, 100, 149);
}

header nav {
    float: right;
    width: 60%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    font-style: 1.5em;
    margin: 10px 5px 10px;
}

article {
    width: 85%;
    border: 3px solid #000;
}

article section {
    width: 30%;
    height: 620px;
    float: left;
    padding: 5px;
    border: 1px solid #555;
    margin: 5px;
}

article section h3 {
    font-size: 1.0em;
    font-weight: 550;
    padding: 5px 0;
    padding-left: 20px;
}

dl dd {
    margin-left: 20px;
    font-size: 0.9em;
}

aside {
    clear: both;
    background-color: rgb(165, 201, 75);
    padding: 10px;
}

aside h4 {
    margin: 5px 10px;
}

aside ul li {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 5px;
}

footer {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
}